layout {
    tab name="Nix OS" cwd="~/Workspace/brizzbuzz/bigbang" focus=true hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="horizontal" {
            pane size="80%" name="Neovim" {
                command "nu"
                args "-c" "direnv exec . nvim"
            }
            pane size="20%" name="Shell"
        }
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
        floating_panes {
            // TODO: Doesn't seem to respect the cwd of the tab
            pane cwd="~/Workspace/brizzbuzz/bigbang" {
                command "nu"
                args "-c" "direnv exec . gitui"
            }
        }
    }
    tab name="Portfolio" cwd="~/Workspace/brizzbuzz/portfolio" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="horizontal" {
            pane size="80%" command="nvim"
            pane size="20%" name="Processes" {
                command "nu"
                args "-c" "direnv exec . process-compose"
            }
        }
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="Novel" cwd="~/Workspace/brizzbuzz/novel" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="horizontal" {
            pane command="nvim"
        }
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="Metrics" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane command="btm"
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }
}

