layout {
    tab name="Nix OS" cwd="~/Workspace/brizzbuzz/bigbang" focus=true hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="horizontal" {
            pane name="Neovim" {
                command "nu"
                args "-c" "direnv exec . nvim"
            }
        }
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
        floating_panes {
            pane cwd="~/Workspace/brizzbuzz/bigbang" name="Git" {
                x "1%"
                y "5%"
                height "85%"
                width "48%"
                command "nu"
                args "-c" "direnv exec . gitui"
            }
            pane cwd="~/Workspace/brizzbuzz/bigbang" name="Shell" {
                x "51%"
                y "5%"
                height "85%"
                width "48%"
                command "nu"
            }
        }
    }
    tab name="Portfolio" cwd="~/Workspace/brizzbuzz/portfolio" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="horizontal" {
            pane name="nvim" {
                command "nu"
                args "-c" "direnv exec . nvim"
            }
        }
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
        floating_panes {
            pane cwd="~/Workspace/brizzbuzz/portfolio" name="Git" {
                x "1%"
                y "5%"
                height "40%"
                width "48%"
                command "nu"
                args "-c" "direnv exec . gitui"
            }
            pane cwd="~/Workspace/brizzbuzz/portfolio" name="Shell" {
                x "1%"
                y "55%"
                height "40%"
                width "48%"
                command "nu"
            }
            pane cwd="~/Workspace/brizzbuzz/portfolio" name="Processes" {
                x "51%"
                y "5%"
                height "95%"
                width "48%"
                command "nu"
                args "-c" "direnv exec . process-compose"
            }
        }
    }
    tab name="Novel" cwd="~/Workspace/brizzbuzz/novel" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="horizontal" {
            pane name="Neovim" {
                command "nu"
                args "-c" "direnv exec . nvim"
            }
        }
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="Metrics" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane command="btm"
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }
}

