layout {
    tab name="NixOS" {
        pane cwd="~/Workspace/brizzbuzz/bigbang"
    }
    tab name="Portfolio" {
        pane {
            command "nvim"
            size "80%" 
            cwd "~/Workspace/brizzbuzz/portfolio"
        }
        pane {
            size "20%" 
            cwd "~/Workspace/brizzbuzz/portfolio"
        }
    }
    tab name="Metrics" {
        pane command="btm"
    }
}
